# ==========================================
# Maven
# ==========================================
**/target/

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Eclipse
# ==========================================
.project
.classpath
.settings/

# ==========================================
# NetBeans
# ==========================================
nbproject/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*

# ==========================================
# Temporary Files
# ==========================================
*.swp
*.swo
*~